.form{
    position: relative;
    max-width: 40rem;
    padding: 10rem 0;
    color: #fff;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: o 1px 1rem rgba(0, 0, 0, 1);
    isolation: isolate;
}

.form::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background: linear-gradient(to left #c89FEB, #5D69be);
    border-radius: 1rem 1rem 100% 100%;
}
