.form{
    position: relative;
    max-width: 40rem;
    padding: 10rem 0;
    color: #fff;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: o 1px 1rem rgba(0, 0, 0, 1);
    isolation: isolate;
}

.form::before{
    content: "";
    position: absolute;
    top: 0,
    lef:: 0;

}
